<h2>New Slide</h2>

<%= form_for(@slide) do |f| %>
  <div class="field">
    <%= f.label :title %><br />
    <%= f.text_field :title, autofocus: true %>
  </div>

  <div class="field">
    <%= f.label :summary %><br />
    <%= f.text_field :summary, autofocus: false %>
  </div>

  <div class="actions">
    <%= f.submit "Create" %>
  </div>
<% end %>

