
<div class="content-width">
  <div class="slide-show-user-profile">
    <p>produced by</p>
    <div class="clearfix">
      <div class="user-avatar" style="background-image: url(<%= @slide.user.avatar.url %>)">
      </div>
      <p class="user-name">
        <%= @slide.user.username %>
      </p>
    </div>
  </div>
  <div class="slide-show-details">
    <%= link_to 'GO TO WEB SITE', "/#{@slide.user.username}/#{@slide.title}", target: "_blanck", class: "go-to-preview" %>
    <% if @slide.user == current_user %>
      <%= link_to 'EDIT SLIDE', edit_slide_path(@slide), class: "go-to-preview" %>
    <% end %>
    <p class="slide-title"><%= @slide.title %></p>
    <p class="slide-summary"><%= @slide.summary %></p>
    <p></p>
  </div>
  <% @slide.images.each do |image| %>
    <%= image_tag "#{image.image.url}", class: "slide-images" %>
  <% end %>
</div>