<div class="sigin-in-large-box">
  <div class="sign-in-large-content">
    <div class="sigin-in-title-pad">
      <h1>FOUR<br>SLIDES</h1>
    </div>
    <div class="sigin-in-form-box">
      <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
        <div class="field">
          <p><%= f.label :email %></p>
          <%= f.email_field :email, autofocus: true %>
        </div>

        <div class="field">
          <p><%= f.label :password %><br /></p>
          <%= f.password_field :password, autocomplete: "off" %>
        </div>

        <% if devise_mapping.rememberable? -%>
          <div class="field">
            <p><%= f.label :remember_me %></p>
            <%= f.check_box :remember_me , class: "remember-me"%>
          </div>
        <% end %>

        <div class="actions">
          <%= f.submit "Log in" %>
        </div>
      <% end %>
      <p class="other-links"><%= link_to 'SIGN UP', new_user_registration_path %></p>
    </div>
  </div>
</div>