  <!DOCTYPE html>
<html>
<head>
  <title>FourSlides</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <link rel="shortcut icon" type="image/x-icon" href="https://s3-ap-northeast-1.amazonaws.com/fourslides-production/assets/favi.png"/>
  
</head>
<body>

  <% if controller.action_name != "preview" %>
    <div class="navigation-bar">
      <div class="navigation-bar-content clearfix">
        <%= link_to "FOURSLIDES", root_path , class: "service-title" %>
        <ul class="navigation-bar-items-ul">
          <% if user_signed_in? %>
            <li><%= link_to "#{current_user.username}", user_path(current_user.username) %></li>
            <li><%= link_to "+NEW SLIDE", new_slide_path %></li>
          <% else %>
            <li><%= link_to 'SIGN IN', new_user_session_path %></li>
            <li><%= link_to "+NEW SLIDE", new_slide_path %></li>
          <% end %>
        </ul>
      </div>
    </div>
  <% end %>

  <% if controller.action_name != "preview" %>
    <div class="yield-content">
      <%= yield %>
    </div>
  <% else %>
    <%= yield %>
  <% end %>

</body>
</html>
