<!DOCTYPE html>
<html>
<head>
  <title>FourSlides</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <% if user_signed_in? && controller.action_name != "preview" %>
    <div class="navigation-bar">
      <div class="navigation-bar-content clearfix">
        <%= link_to "FOURSLIDES", root_path , class: "service-title" %>
        <ul class="navigation-bar-items-ul">
          <li><%= link_to 'MY PAGE', user_path(current_user) %></li>
          <li><%= link_to "+NEW SLIDE", new_slide_path %></li>
        </ul>
      </div>
    </div>
  <% end %>

  <% if user_signed_in? && controller.action_name != "preview" %>
  <div class="yield-content">
    <%= yield %>
  </div>
  <% else %>
    <%= yield %>
  <% end %>

  <% if user_signed_in? && controller.action_name != "preview" %>
    <div class="footer-bar">
      <div class="footer-bar-content">
        <p class="copylight">(c) Keita Matsushita 2017</p>
      </div>
    </div>
  <% end %>
</body>
</html>
